# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
build/
node_modules/
tmp/
temp/
hooks/
platforms/
$RECYCLE.BIN/
back/public/uploads

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
