<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content class="show-list">

    <ion-list *ngIf="viewMode==='list'">

        <ion-item-sliding *ngFor="let show of shows">
            <button ion-item (click)="openShowDetail(show)">
                <ion-thumbnail item-left>
                    <img src="{{serverUrl}}{{show.image.url}}"/>
                </ion-thumbnail>
                <h2>{{show.name}}</h2>
                <p>{{ show.date | date: 'd MMMM yyyy' }}</p>
            </button>
            <ion-item-options>
                <button danger (click)="deleteItem(show)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

    <div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>

</ion-content>

<ion-footer padding>
    <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="showMap()">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>
